body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

main {
  padding: 2rem;
}

header nav {
  display: flex;
  flex-direction: row;
}

/* Phone  */
@media (max-width: 599px) {
  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 899px) {
  main {
    padding: 1.5rem;
  }

  h1 {
    font-size: 1.75rem;
  }
}

/* Laptop */
@media (min-width: 900px) and (max-width: 1199px) {
  main {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  main {
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.25rem;
  }
}
